
h1 {
    text-align: center;
    font-weight: 900;
    text-decoration: tomato underline;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    color: #fcaadb;
    line-height: 2;
}
section {
    font-size: 20px;
}

button {
    color: royalblue;
    background-color: snow;
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}

p {
    color: rgb(89, 151, 0);
}

#signup{
    background-color: tomato;
}

span {
    color: yellowgreen;
}

.tag {
    background-color: #e63946;
    color: f1faee;
    font-size: 25px;

}

footer > A {
    font-size: large;
}

input[type="password"] {
    font-size: xx-large;
}

button:hover {
    background-color: slateblue;
}

.post button:active {
    background-color: yellow;
}

.post:nth-of-type(2n) {
    background-color: blue;
}

h2::first-letter {
    font-size: 50px;
    display: inline;
}

p::selection {
    background-color: orange; !important;
}

div{
    width: 400px;
    height: 200px;
}

#one{
    background-color: red;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin-bottom: 25px;
}
#two{
    background-color: green;
    border: thick solid gold;
    padding: 10px;
}
#three{
    background-color: blue;
    border-radius: 25% 50%;
}

span {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}


/* # for ID and . for class

<!--YOU DON'T NEED TO TOUCH THE MARKUP!-->
<div class="card">
  <img alt="" src="https://assets.codepen.io/123865/dog.png">
  <h1>I Am Dog</h1>
</div>
